# Ignore unnecessary files inside the Docker context
*~
db
*.md
.git
*.sh
.swc
logs
cache
# .env files are allowed now for build-time variable injection
infra
*.log
.nvmrc
.husky
.turbo
.cache
.vscode
.github
scripts
knowledge
Thumbs.db
.DS_Store
.changeset
cpell.json
.eslintrc.js
node_modules
.eslintignore
.editorconfig
cockroach-data
.prettierrc.js
.prettierignore
vitest.config.js

**/*.md
**/.swc
**/dist
**/*.log
**/.next
**/build
**/docker
**/.turbo
**/.source
**/generated
**/.DS_Store
**/Dockerfile
**/.docusaurus
**/node_modules
**/tooling/ansible
apps/accounting/images/**

# Ignore everything in the .gitignore file
#!include:.gitignore





